SPRING_PROFILE=local
DATASOURCE_URL=jdbc:mysql://localhost:3306/your_database_name
DATASOURCE_USERNAME=your_username
DATASOURCE_PASSWORD=your_password
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=your_redis_password
SPRING_EMAIL_USERNAME=your_email
SPRING_EMAIL_PASSWORD=your_email_password
ACCESS_TOKEN_SECRET_KEY=your_access_token_secret_key
ACCESS_TOKEN_LIFETIME=36000000
REFRESH_TOKEN_SECRET_KEY=your_refresh_token_secret_key
REFRESH_TOKEN_LIFETIME=108000000
PAYPAL_CLIENT_ID=your_paypal_client_id
PAYPAL_CLIENT_SECRET=your_paypal_client_secret
PAYPAL_TUNNEL_URL=your_paypal_tunnel_url
EXCHANGE_RATE_URL=your_exchange_rate_url
EXCHANGE_RATE_API_KEY=your_exchange_rate_api_key
PROMOTION_GIVEAWAY=promotion_giveaway